{# helpdesk/templates/helpdesk/ticket_form.html #}
<form method="post" class="ticket-form">
  {% csrf_token %}
  {{ form.non_field_errors }}

  <label>Title<br>{{ form.title }}</label><br><br>

  <label>Description<br>{{ form.description }}</label><br><br>

  <label>Your name<br>{{ form.reporter_name }}</label><br><br>

  <label>Your email (optional)<br>{{ form.reporter_email }}</label><br><br>

  <label>Priority<br>{{ form.priority }}</label><br><br>

  <button class="btn" type="submit">Submit</button>
</form>
